@tailwind base;
@tailwind components;
@tailwind utilities;

.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position: relative;
}

.input {
  border-style: none;
  height: 50px;
  width: 50px;
  padding: 10px;
  outline: none;
  border-radius: 50%;
  transition: 0.5s ease-in-out;
  --tw-text-opacity: 1;
  box-shadow: 0px 0px 3px rgb(16 185 129 / var(--tw-text-opacity));
  padding-right: 40px;
  color: #fff;
    
}

.input::placeholder,
.input {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 17px;
}

.input::placeholder {
  color: #8f8f8f;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  outline: none;
  border-style: none;
  border-radius: 50%;
  pointer-events: painted;
  background-color: transparent;
  transition: 0.2s linear;
}

.icon:focus ~ .input,
.input:focus {
  box-shadow: none;
  width: 250px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 3px solid rgb(16 185 129 / var(--tw-text-opacity));
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
.background{
  background: url(../public/hero.avif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}

.button {
  display: flex;
  justify-content: center;
  color: #fff;
  width: 80px;
  height: 80px;
  margin-top: 20px;
  border-radius: 100%;
  background: linear-gradient( rgb(16 185 129 ));
  transition: all 0.3s ease-in-out 0s;
  box-shadow: rgba(193, 244, 246, 0.698) 0px 0px 0px 0px;
  animation: 1.2s cubic-bezier(0.8, 0, 0, 1) 0s infinite normal none running pulse;
  align-items: center;
  border: 0;
}

.button:is(:hover, :focus) {
  transform: scale(1.2);
}

@keyframes pulse {
  100% {
    box-shadow: 0 0 0 45px rgba(112, 186, 189, 0);
  }
}

/* button 2 */

.button2 {
  --color: rgb(16,182,129);
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color .5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
}

.button2:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
}

.button2:hover {
  color: #fff;
}

.button2:before {
  top: 100%;
  left: 100%;
  transition: all .7s;
}

.button2:hover:before {
  top: -30px;
  left: -30px;
}

.button2:active:before {
  background: #3a0ca3;
  transition: background 0s;
}

.back{
background-image: linear-gradient(black, rgb(16 185 129));
}
.coke{
  background-image: url(../public/123123.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (max-width: 400px) {
  .wraping {
    display: flex;
    flex-wrap: wrap;
  }
}